.App {
  text-align: center;
  height: 100%;
}

.Footer {
  background-color: #434547;
  position: fixed;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 0.8em;
}


.FooterPhone {
  background-color: #434547;
  width: 100%;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 10px;
  color: white;
  font-size: 0.5em;
}


.App-title {
  font-size: 1.5em;
}

.footerLogoDesk{
    height: 50px;
}

.footerLogoPhone{
    height: 25px;
}

.footerLogoTablet{
    height: 50px;
}

.App-intro {
  font-size: large;
}

